body{
    overflow-x: hidden;
}
<<<<<<< HEAD

body.light {
    background-color: white;
    color: black;
  }
  
body.dark {
    background-color: black;
    color: white;
}

.card.dark{
    background-color: rgba(90, 90, 90, 0.275);
}

.card.light {
    background-color: white;
}


  
=======
>>>>>>> 814157c7b21617e8c5d0ca4def52305bd3730122
