body{
    overflow-x: hidden;
}

body.light {
    background-color: white;
    color: black;
  }
  
body.dark {
    background-color: black;
    color: white;
}

.card.dark{
    background-color: rgba(120, 120, 120, 0.353);
}

.card.light {
    background-color: white;
}

.aside.dark {
    background-color: rgba(24, 23, 23, 0.967);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}