body{
    overflow-x: hidden;
}

body.light {
    background-color: white;
    color: black;
  }
  
body.dark {
    background-color: black;
    color: white;
}

.card.dark{
    background-color: rgba(120, 120, 120, 0.353);
}

.card.light {
    background-color: white;
}

.aside.dark {
    background-color: rgba(24, 23, 23, 0.967);
}